// Invert colors

$primary-invert:        findColorInvert($primary) !default
$info-invert:           findColorInvert($info) !default
$success-invert:        findColorInvert($success) !default
$warning-invert:        findColorInvert($warning) !default
$danger-invert:         findColorInvert($danger) !default

$white-invert:          $black !default
$light-invert:          $dark !default
$dark-invert:           $light !default
$black-invert:          $white !default

$background:            lighten($light, 10%) !default

$border:                $light !default
$border-hover:          darken($light, 20%) !default

$box-shadow:            0 1px 15px 1px rgba(0,0,0,0.15) !default
$box-shadow-hover:      0 1px 25px 1px rgba(0,0,0,0.25) !default

// Text colors

$text:                  $black !default
$text-invert:           $white !default
$text-light:            $light !default
$text-strong:           $dark !default

// Code colors

$code: $danger !default
$code-background: $background !default

$pre: $text !default
$pre-background: $background !default

// Link colors

$link: $primary !default
$link-invert: $primary-invert !default
$link-visited: $purple !default

$link-hover: lighten($primary, 20%) !default
$link-hover-border: $primary !default

$link-focus: lighten($primary, 15%) !default
$link-focus-border: $primary !default

$link-active: $dark !default
$link-active-border: $dark !default

// Typography

$family-primary: $family-sans-serif !default
$family-code: $family-monospace !default

$size-small: $size-7 !default
$size-normal: $size-6 !default
$size-medium: $size-5 !default
$size-large: $size-4 !default

// Lists and maps

$colors: ("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert), "link": ($link, $link-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert)) !default
// $shades: ("black-bis": $black-bis, "black-ter": $black-ter, "grey-darker": $dark, "grey-dark": $dark, "grey": $dark, "grey-light": $light, "grey-lighter": $light, "white-ter": $white, "white-bis": $white) !default

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default
