// Remove input-shadow
$input-shadow: none
$input-focus-box-shadow-size: 0
$input-border-color: $border
$input-hover-border-color: $border-hover

$button-focus-box-shadow-size: 0
$button-border-color: $border
$button-hover-border-color: $border-hover

$box-shadow: none

$pagination-shadow-inset: none

$card-shadow: 0 3px 15px $grey-light

$dropdown-content-shadow: 0 2px 5px $grey-light
$dropdown-divider-background-color: smokewhite

$progress-bar-background-color: $grey-lighter

$tabs-border-bottom-color: $grey-lighter
