@import "./animation.sass"

// Pagination
.pagination
  .pagination-link,
  .pagination-previous,
  .pagination-next
    box-shadow: none

// Button active state
.button,
.pagination-link,
.pagination-previous,
.pagination-next
  transition: all 0.25s ease-out
  &:hover
    transform: translateY(-1px)
    box-shadow: 1px 5px 8px rgba(0,0,0,0.25)
  &:active
    transform: scale(0.96)

.button
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      &:hover
        background-color: lighten($color, 10%)

.hero
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      box-shadow: 0 0 75px rgba(0,0,0,0.5), 0 1px 3px rgba(0,0,0,0.75)

// Update border-width
input,
textarea,
select,
button,
.button,
.file-cta,
.file-name,
.pagination-link,
.pagination-previous,
.pagination-next
  border-width: 2px!important

.file-name
  border-left: 1px!important

.file-cta,
.file-name
  border-color: $border !important
  &:hover
    border-color: $border-hover !important

.buttons.has-addons
  & .button:not(:first-child)
    border-left-width: 1px !important
  & .button:not(:last-child)
    border-right-width: 1px !important

// Update menu component
.menu
  background-color: $white-ter
  & > .menu-label
    padding-left: calc(1rem + 8px)
  a
    border-left: 8px solid transparent
    &.is-active
      border-left-color: $primary
      background-color: transparent
      color: $text

// Update table
.table
  tr.is-selected
    td,
    th
      border-color: darken($primary, 5%)

// Update progress bar
.progress
  height: 4px
  &.is-small
    height: 2px
  &.is-medium
    height: 6px
  &.is-large
    height: 8px

// indeterminate progress
progress:indeterminate
  position: relative
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 25%
    height: 100%
    background-color: $primary
    animation: progress-bar 5s infinite
    animation-timing-function: linear
    // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      &:before
        background-color: $color

// Panel
.panel
  border: 1px solid $grey-lighter
  box-shadow: $box-shadow
  background-color: $white-ter
  .panel-heading,
  .panel-tabs,
  .panel-block
    border-width: 0 0 1px 8px
    border-left-color: transparent
    border-bottom-color: $grey-lighter
  .panel-block
    &:last-child
      border-bottom-width: 0
    &.is-active
      border-left-color: $primary

// Navbar
.navbar
  &.is-transparent
    border: 1px solid $grey-lighter

// Message
.message
  .message-header
    font-weight: normal!important

.message,
.notification
  transition: all $speed $easing
  box-shadow: 0 2px 35px rgba(0,0,0,0.5)
  &:hover
    transform: translateY(-1px)
    box-shadow: 0 4px 35px rgba(0,0,0,0.5)
