// Update border-width for all inputs
.input,
.textarea,
.select select,
.delete,
.button,
.file-cta,
.file-name,
.pagination-link,
.pagination-previous,
.pagination-next
  border-width: 2px
  transition: all 600ms cubic-bezier(.16,1,.29,.99)

// details and summary tag
details
  summary
    padding-left: 7px
    background-color: $background
    cursor: pointer
    border-radius: 2px
    border: 1px solid $grey-lighter

// horizontal rule
hr
  height: 1px
  background-color: rgba(0,0,0,0.075)

// label style
.label
  font-weight: 500
