.grid-view
  background-color: $dark
  padding: 1.5em
  text-align: center
  border-radius: $radius-small
  max-height: 480px
  overflow-y: auto
  & .grid-item
    +control
    +unselectable
    display: inline-block
    background-color: $light
    color: invert($light)
    padding: 0.5em
    margin: 0.25em
    width: 120px
    height: 80px
    border: 2px solid transparent
    transition: all $speed $easing
    &:hover:not(:focus)
      border-color: rgba(0,0,0,0.25)
    &:active
      transform: scale(0.94)
    &:focus
      border-color: $success
      box-shadow: 0 0 25px 0px lighten($success, 5%)
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      // background-color: lighten($color, 50%)
      & .grid-item
        background-color: $color
        color: $white
        &:focus
          border-color: lighten($color, 20%)
          box-shadow: 0 0 25px 0px lighten($color, 5%)
  &.is-small
    & .grid-item
      width: 80px
      height: 60px
      pading: 0.25em
      font-size: 0.75em
  &.is-medium
    & .grid-item
      width: 120px
      height: 80px
      pading: 0.5em
      font-size: 1.25em
  &.is-large
    & .grid-item
      width: 160px
      height: 100px
      pading: 0.75em
      font-size: 1.75em
